@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=K2D:ital,wght@1,300&family=Mali:wght@200&family=Work+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=K2D:ital,wght@1,300&family=Lobster+Two&family=Mali:wght@200&family=Work+Sans:wght@300;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* font-family: "Edu NSW ACT Foundation", cursive; */
    font-family: "Mali", cursive;
    background-image: url("./snow.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    color: white;
    align-items: center;
    justify-content: center;
}

.box {
    z-index: -1;
    position: absolute;
    margin: 0 auto;
    background-color: #00000085;
    min-width: 900px;
    height: 600px;
    border-radius: 0.5rem;
    filter: blur(1px);
}

h1 {
    padding: 2rem;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -5rem;
    /* font-family: "Edu NSW ACT Foundation", cursive; */
    /* font-family: "K2D", sans-serif; */
    font-family: "Lobster Two", cursive !important;
    /* font-family: "Mali", cursive; */
    /* font-family: "Work Sans", sans-serif; */
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 746px) {
    h1 {
        margin: 0;
        padding-top: 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        font-family: "Lobster Two", cursive !important;
    }
    .box {
        min-width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }
}
